# Compiled class file
*.class

# Log file
*.log

# Package/Binary Files don't belong into a git repo
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.dll
*.exe
*.bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.metadata
.settings
.classpath
.project

# == IntelliJ ==
*.iml
*.ipr

# Some files are user/installation independent and are used for configuring the IDE
# See also https://stackoverflow.com/a/35279076

.idea/*
!.idea/saveactions_settings.xml
!.idea/checkstyle-idea.xml
!.idea/externalDependencies.xml
!.idea/pmd-x.xml
!.idea/PMDPlugin.xml

!.idea/inspectionProfiles/
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml

!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
