# Intellij
.idea/*
*.iml
*.ipr
*.iws

# Generated java classes
out
classes

# Plugins
*.idea/checkstyle-idea.xml

# Gradle
.gradle/
build/

# IntelliJ Platform Plugin
.intellijPlatform


# Some files are user/installation independent and are used for configuring the IDE
# See also https://stackoverflow.com/a/35279076

.idea/*
!.idea/saveactions_settings.xml
!.idea/checkstyle-idea.xml
!.idea/externalDependencies.xml
!.idea/pmd-x.xml
!.idea/PMDPlugin.xml

!.idea/inspectionProfiles/
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml

!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
