<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: XDEV Checks
    Description: none
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    
    
    <module name="JavadocType">
      <property name="severity" value="ignore"/>
      <property name="scope" value="protected"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="JavadocVariable">
      <property name="severity" value="ignore"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="JavadocStyle">
      <property name="severity" value="ignore"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="ConstantName">
      <property name="id" value="ConstantName"/>
      <property name="format" value="^[A-Z_][A-Z0-9]*(_[A-Z0-9]*)*$"/>
    </module>
    <module name="LocalFinalVariableName">
      <property name="id" value="LocalFinalVariableName"/>
      <property name="format" value="^[a-z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="LocalVariableName">
      <property name="id" value="LocalVariableName"/>
      <property name="format" value="^[a-z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="MemberName">
      <property name="id" value="MemberName"/>
      <property name="format" value="^[a-z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="MethodName">
      <property name="id" value="MethodName"/>
      <property name="format" value="^[a-zA-Z_][a-zA-Z0-9_]*$"/>
      <message key="name.invalidPattern" value="'{0}'' entspricht nicht dem Muster ''{1}''."/>
    </module>
    <module name="PackageName">
      <property name="id" value="PackageName"/>
    </module>
    <module name="ParameterName">
      <property name="id" value="ParameterName"/>
      <property name="format" value="^[a-z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="StaticVariableName">
      <property name="id" value="StaticVariableName"/>
      <property name="format" value="^[a-z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="TypeName">
      <property name="id" value="TypeName"/>
      <property name="format" value="^[A-Z_][a-zA-Z0-9_]*$"/>
    </module>
    <module name="AvoidStarImport">
      <property name="id" value="AvoidStarImport"/>
    </module>
    <module name="IllegalImport">
      <property name="id" value="IllegalImport"/>
    </module>
    <module name="RedundantImport">
      <property name="id" value="RedundantImport"/>
    </module>
    <module name="UnusedImports">
      <property name="id" value="UnusedImports"/>
      <message key="import.unused" value="Nicht benutzter import - {0}."/>
    </module>
    <module name="MethodLength">
      <property name="id" value="MethodLength"/>
    </module>
   
    <module name="MethodParamPad">
      <property name="severity" value="ignore"/>
      <property name="id" value="MethodParamPad"/>
      <property name="tokens" value="LITERAL_NEW"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="NoWhitespaceAfter">
      <property name="severity" value="warning"/>
      <property name="id" value="NoWhitespaceAfter"/>
      <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS,TYPECAST"/>
    </module>
    <module name="NoWhitespaceBefore">
      <property name="id" value="NoWhitespaceBefore"/>
      <property name="tokens" value="POST_DEC,POST_INC"/>
    </module>
    <module name="OperatorWrap">
      <property name="id" value="OperatorWrap"/>
    </module>
    <module name="ParenPad">
      <property name="id" value="ParenPad"/>
      <property name="tokens" value="ANNOTATION,ANNOTATION_FIELD_DEF,CTOR_DEF,ENUM_CONSTANT_DEF,LITERAL_CATCH,LITERAL_DO,LITERAL_FOR,LITERAL_IF,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_WHILE,METHOD_DEF,RESOURCE_SPECIFICATION,SUPER_CTOR_CALL,QUESTION"/>
    </module>
    <module name="TypecastParenPad">
      <property name="id" value="TypecastParenPad"/>
      <property name="tokens" value="RPAREN,TYPECAST"/>
    </module>
    <module name="WhitespaceAfter">
      <property name="id" value="WhitespaceAfter"/>
      <property name="tokens" value="COMMA,SEMI"/>
    </module>
    <module name="WhitespaceAround">
      <property name="id" value="WhitespaceAround"/>
      <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND"/>
    </module>
    <module name="ModifierOrder">
      <property name="id" value="ModifierOrder"/>
    </module>
    <module name="EmptyBlock">
      <property name="id" value="EmptyBlock"/>
    </module>
    <module name="LeftCurly">
      <property name="id" value="LeftCurly"/>
      <property name="option" value="nl"/>
    </module>
    <module name="NeedBraces">
      <property name="id" value="NeedBraces"/>
    </module>
    <module name="RightCurly">
      <property name="id" value="RightCurly"/>
      <property name="option" value="alone"/>
      <property name="tokens" value="LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_IF,LITERAL_ELSE,CLASS_DEF,METHOD_DEF,CTOR_DEF,LITERAL_FOR,LITERAL_WHILE,LITERAL_DO,STATIC_INIT,INSTANCE_INIT"/>
      <message key="line.same" value="''{0}'' in Spalte {1} sollte auf der gleichen Linie wie der nächste Teil einer Multi-Block-Anweisung (eine, die direkt mehrere Blöcke enthält: if/else-if/else oder try/catch/finally) sein."/>
    </module>
    <module name="EmptyStatement">
      <property name="id" value="EmptyStatement"/>
    </module>
    <module name="EqualsHashCode">
      <property name="id" value="EqualsHashCode"/>
    </module>
    <module name="MagicNumber">
      <property name="id" value="MagicNumber"/>
      <property name="constantWaiverParentToken" value="TYPECAST,METHOD_CALL,EXPR,ARRAY_INIT,UNARY_MINUS,UNARY_PLUS,ELIST,STAR,ASSIGN,PLUS,MINUS,DIV,LITERAL_NEW"/>
    </module>
    <module name="MissingSwitchDefault">
      <message key="missing.switch.default" value="MissingSwitchDefault: switch ohne &quot;default&quot;."/>
    </module>
    <module name="SimplifyBooleanExpression">
      <property name="id" value="SimplifyBooleanExpression"/>
    </module>
    <module name="HideUtilityClassConstructor">
      <property name="id" value="HideUtilityClassConstructor"/>
    </module>
    <module name="InterfaceIsType">
      <property name="id" value="InterfaceIsType"/>
    </module>
    <module name="VisibilityModifier">
      <property name="severity" value="warning"/>
      <property name="id" value="VisibilityModifier"/>
      <property name="packageAllowed" value="true"/>
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="ArrayTypeStyle">
      <property name="id" value="ArrayTypeStyle"/>
    </module>
    <module name="FinalParameters">
      <property name="id" value="FinalParameters"/>
    </module>
    <module name="TodoComment">
      <property name="severity" value="ignore"/>
      <message key="todo.match" value="TodoComment: Kommentar entspricht to-do-Format ''{0}''."/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="UpperEll">
      <property name="id" value="UpperEll"/>
    </module>
    <module name="RequireThis">
      <property name="severity" value="warning"/>
      <property name="id" value="RequireThis"/>
    </module>
    <module name="FinalClass">
      <property name="severity" value="warning"/>
      <property name="id" value="FinalClass"/>
    </module>
    <module name="GenericWhitespace">
      <property name="severity" value="ignore"/>
      <property name="id" value="GenericWhitespace"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="warning"/>
    </module>
    <module name="EmptyCatchBlock">
      <property name="id" value="EmptyCatchBlock"/>
    </module>
    <module name="NonEmptyAtclauseDescription">
      <property name="severity" value="ignore"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="AbstractClassName">
      <property name="id" value="AbstractClassName"/>
      <property name="format" value="^Abstract.*$"/>
    </module>
    <module name="OuterTypeNumber">
      <property name="id" value="OuterTypeNumber"/>
    </module>
    <module name="DefaultComesLast">
      <property name="id" value="DefaultComesLast"/>
    </module>
    <module name="ExplicitInitialization">
      <property name="severity" value="ignore"/>
      <property name="id" value="ExplicitInitialization"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="NoClone">
      <property name="id" value="NoClone"/>
    </module>
    <module name="NoFinalizer">
      <property name="id" value="NoFinalizer"/>
    </module>
    <module name="StringLiteralEquality">
      <property name="id" value="StringLiteralEquality"/>
    </module>
    <module name="OneStatementPerLine">
      <property name="id" value="OneStatementPerLine"/>
    </module>
    <module name="EmptyForInitializerPad">
      <property name="id" value="EmptyForInitializerPad"/>
    </module>
    <module name="EmptyForIteratorPad">
      <property name="id" value="EmptyForIteratorPad"/>
    </module>
    <module name="OneTopLevelClass">
      <property name="id" value="OneTopLevelClass"/>
    </module>
	<module name="IllegalType">
		<!-- java.util.Optional should not be used for parameters. See https://rules.sonarsource.com/java/RSPEC-3553 -->
   		<property name="tokens" value="PARAMETER_DEF"/>
   		<property name="illegalClassNames" value="java.util.Optional"/>
   		<metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
   	</module>
   	<module name="SuppressionCommentFilter">
	    <metadata name="net.sf.eclipsecs.core.comment" value="Specific Check"/>
	    <property name="offCommentFormat" value="CHECKSTYLE\.OFF\: *([\w\|]+)"/>
	    <property name="onCommentFormat" value="CHECKSTYLE\.ON\: *([\w\|]+)"/>
	    <property name="checkFormat" value="$1"/>
	</module>
	<module name="SuppressionCommentFilter">
	    <metadata name="net.sf.eclipsecs.core.comment" value="All Checks"/>
	</module>
   	
  </module>
  <module name="LineLength">
     <property name="severity" value="ignore"/>
     <property name="id" value="LineLength"/>
     <property name="max" value="120"/>
     <property name="tabWidth" value="4"/>
     <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
   </module>
  <module name="JavadocPackage">
    <property name="severity" value="ignore"/>
    <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
  </module>
  <module name="NewlineAtEndOfFile">
    <property name="id" value="NewlineAtEndOfFile"/>
  </module>
  <module name="Translation">
    <property name="id" value="Translation"/>
    <message key="general.exception" value="general exception"/>
    <message key="general.fileNotFound" value="file not found"/>
  </module>
  <module name="FileLength">
    <property name="severity" value="ignore"/>
    <property name="id" value="FileLength"/>
    <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
  </module>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="Inlined Tabs"/>
    <property name="format" value="^(/*)\t*?[^\n\t/]+?\t"/>
    <property name="message" value="Inlined Tab"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="CheckStyle Off Grund"/>
    <property name="format" value="CHECKSTYLE\.OFF\: *([\w\|]+)\s*$"/>
    <property name="message" value="Begründung fehlt (bitte aussagekräftig)"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="CheckStyle All Off Grund"/>
    <property name="format" value="CHECKSTYLE\:OFF\s*$"/>
    <property name="message" value="Begründung fehlt (bitte aussagekräftig)"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="SuppressionSingleFilter">
     <property name="checks" value="."/>
     <property name="files" value="[\\/]srcgen[\\/].*\.java$"/>
   </module>
   <module name="SuppressionSingleFilter">
     <property name="checks" value="."/>
     <property name="files" value="[\\/]resources[\\/].*\.sql$"/>
   </module>
   <module name="SuppressionSingleFilter">
     <property name="checks" value="."/>
     <property name="files" value="[\\/]software.xdev[\\/].*\.java$"/>
   </module>
   <module name="SuppressionSingleFilter">
     <property name="checks" value="MagicNumberCheck"/>
     <property name="files" value="[\\/]test[\\/].*\.java$"/>
   </module>
   
   
</module>
