<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
		"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<!-- Only check code -->
	<property name="fileExtensions" value="java"/>
	<property name="severity" value="error"/>

	<property name="tabWidth" value="4"/>

	<module name="SuppressionFilter">
		<property name="file" value="${config_loc}/suppressions.xml"/>
	</module>

	<module name="FileLength"/>
	<module name="LineLength">
		<property name="max" value="120"/>
		<property name="fileExtensions" value="java"/>
		<!-- Ignore default + links -->
		<property name="ignorePattern" value="(^(package|import))|(^\s*(\/\/|\*) .*https?.*$)"/>
	</module>
	<module name="NewlineAtEndOfFile"/>

	<module name="RegexpSingleline">
		<!-- Ignore inside block comments (*) -->
		<property name="format" value="[^\s\*][\s]{1,}$"/>
		<property name="minimum" value="0"/>
		<property name="maximum" value="0"/>
		<property name="message" value="Line has trailing whitespaces"/>
	</module>

	<!-- Generated code -->
	<module name="SuppressionSingleFilter">
		<property name="checks" value="."/>
		<property name="files" value="[\\/]src[\\/]gen(erated)?[\\/].*\.java$"/>
	</module>
	<!-- Test code -->
	<module name="SuppressionSingleFilter">
		<property name="checks" value="MagicNumberCheck"/>
		<property name="files" value="[\\/]test[\\/].*\.java$"/>
	</module>

	<!-- Suppressions -->
	<module name="SuppressWarningsFilter"/>
	<!-- https://github.com/checkstyle/checkstyle/issues/7287 -->
	<module name="SuppressWithPlainTextCommentFilter">
		<property name="offCommentFormat" value="// CHECKSTYLE\:OFF ([\w\|]+)"/>
		<property name="onCommentFormat" value="// CHECKSTYLE\:ON ([\w\|]+)"/>
		<property name="checkFormat" value="$1"/>
	</module>

	<module name="TreeWalker">
		<!-- Checks - sorted alphabetically -->
		<module name="ArrayTypeStyle"/>
		<module name="AvoidDoubleBraceInitialization"/>
		<module name="AvoidStarImport"/>
		<module name="ConstantName"/>
		<module name="DefaultComesLast"/>
		<module name="EmptyBlock"/>
		<module name="EmptyCatchBlock"/>
		<module name="EmptyForInitializerPad"/>
		<module name="EmptyForIteratorPad"/>
		<module name="EmptyStatement"/>
		<module name="EqualsHashCode"/>
		<module name="ExplicitInitialization">
			<property name="severity" value="info"/>
		</module>
		<module name="FinalClass"/>
		<module name="FinalParameters"/>
		<module name="GenericWhitespace"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="IllegalCatch">
			<!-- https://docs.pmd-code.org/pmd-doc-7.11.0/pmd_rules_java_errorprone.html#avoidcatchingnpe -->
			<!-- https://docs.pmd-code.org/pmd-doc-7.11.0/pmd_rules_java_errorprone.html#avoidcatchingthrowable -->
			<property name="illegalClassNames" value="Error,Throwable,NullPointerException,java.lang.Error,java.lang.Throwable,java.lang.NullPointerException"/>
		</module>
		<module name="IllegalImport"/>
		<module name="InterfaceIsType"/>
		<module name="JavadocStyle">
			<property name="checkFirstSentence" value="false"/>
		</module>
		<module name="LeftCurly">
			<!-- Default minus Lambda -->
			<property name="tokens" value="ANNOTATION_DEF, CLASS_DEF, CTOR_DEF, ENUM_CONSTANT_DEF, ENUM_DEF, INTERFACE_DEF, LITERAL_CASE, LITERAL_CATCH, LITERAL_DEFAULT, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, METHOD_DEF, OBJBLOCK, STATIC_INIT, RECORD_DEF, COMPACT_CTOR_DEF"/>
			<property name="option" value="nl"/>
		</module>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<module name="MagicNumber">
			<property name="ignoreAnnotation" value="true"/>
			<property name="ignoreFieldDeclaration" value="true"/>
			<property name="ignoreHashCodeMethod" value="true"/>
			<!-- Defaults + other common constant values (e.g. time) -->
			<property name="ignoreNumbers" value="-1, 0, 1, 2, 3, 4, 5, 8, 10, 12, 16, 24, 25, 31, 32, 50, 60, 64, 100, 128, 200, 256, 500, 512, 1000, 1024, 2000, 2048, 4000, 4096, 8000, 8192"/>
		</module>
		<module name="MemberName"/>
		<module name="MethodLength"/>
		<module name="MethodName"/>
		<module name="MethodParamPad"/>
		<module name="MissingDeprecated"/>
		<module name="MissingOverride"/>
		<module name="ModifierOrder"/>
		<module name="NeedBraces"/>
		<module name="NoClone"/>
		<module name="NoFinalizer"/>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="NoWhitespaceAfter"/>
		<module name="NoWhitespaceBefore"/>
		<module name="OneStatementPerLine"/>
		<module name="OneTopLevelClass"/>
		<module name="OperatorWrap"/>
		<module name="OuterTypeNumber"/>
		<module name="PackageName"/>
		<module name="ParameterName"/>
		<module name="ParenPad"/>
		<module name="RedundantImport"/>
		<module name="RequireThis"/>
		<module name="RightCurly">
			<property name="option" value="alone"/>
		</module>
		<module name="SimplifyBooleanExpression"/>
		<module name="StaticVariableName"/>
		<module name="StringLiteralEquality"/>
		<module name="SuppressWarningsHolder"/>
		<module name="TodoComment"/>
		<module name="TypecastParenPad"/>
		<module name="TypeName"/>
		<module name="UnnecessaryParentheses"/>
		<module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
		<module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
		<module name="UnnecessarySemicolonInEnumeration"/>
		<module name="UnnecessarySemicolonInTryWithResources"/>
		<module name="UnusedImports"/>
		<module name="UnusedLocalVariable"/>
		<module name="UpperEll"/>
		<module name="VisibilityModifier">
			<property name="packageAllowed" value="true"/>
			<property name="protectedAllowed" value="true"/>
		</module>
		<module name="WhitespaceAfter">
			<property name="tokens" value="COMMA,SEMI"/>
		</module>
		<module name="WhitespaceAround">
			<property name="tokens"
					  value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND"/>
		</module>
	</module>
</module>
